@font-face {
    font-family: "CustomFont";
    src: url(font/Movement.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
}

.container , .logo{
    display: flex;
    flex-flow: row wrap;
}

.picture{
    background-image: url(img/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 35vw;
}

.logo{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}

.logo-img{
    height: 80px;
}

.logo-text{
    color: aliceblue;
    font-family: "CustomFont";
}

.photo-credit{
    font-family: "CustomFont";
    color: aliceblue;
    position: relative;
    top: 83vh; 
    align-items: center;
    justify-content: center;
}

.right{
    width: 65vw;
    background-color: #0d093d;
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    padding: 5px;
}

.text-description{
font-family: "Customfont";
font-size: 24px;
color: aliceblue;
}

.separated-text{
    margin: 40px 0 60px;
    font-family: "Customfont";
    font-size: 20px;
    color: aliceblue;
}

.form{
    background-color: rgba(200, 214, 228, 0.438);
}

.form-tittle{
    font-size: 16px;
    font-family: "Customfont";
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
}

.input{
    display: flex;
    flex-direction: column;
    width: 40vh;
}

input:focus{
border: 2px solid palevioletred;
outline: none;
}

.input.focus{
    box-shadow: blue;
}

button{
    font-weight: bolder;
    border: 2px plum;
    padding: 20px;
    margin-top: 30px;
    background-color: blueviolet;
}

.submit-button{
    background-color: #0d093d;
}

.has-account{
    font-size: 16px;
    font-family: "Customfont";
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
}